$primary-color: #cb792b;
$fundo-color: #000;

body {
  background-color: $fundo-color;
  font-family: 'Modern Antiqua', cursive;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary-color;
  height: 100vh;
}

.home {
  color: $primary-color;
  height: 100vh;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h5 {
  margin-top: 10px;
}

.home h5 {
  color: #fff;
}

input {
  width: 60vw;
}

.filtrar {
  display: flex;
  flex-direction: row;
}

.imagensRestaurantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 9px;
}

.imagensRestaurantes img {
  width: 29.4vw;
  height: 12vh;
  object-fit: cover;
}

#map {
  height: 33vh;
  width: 90vw;
}

.bodyModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyModal img {
  width: 200px;
  height: 14vh;
  object-fit: cover;
}

#h1Modal {
  color: $primary-color;
  font-size: 24px;
}

@media screen and (min-width: 576px) {
  .logo {
    h1 {
      font-size: 100px;
    }
  }


  .imagensRestaurantes img {
    width: 30vw;
    height: 15vh;
    border: #fff solid 3px;
    object-fit: cover;

  }
}